{% extends 'layout.html.twig' %}
{% block title %}
{% endblock %}
{% block content %}
    <div id="calendar" class="calendar">
            <div class="col-md-8 col-xs-12">
                <div class="kalendarz-builder">
                    <div id="JSloading" class="loading-spinner" style="display: none;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="row year-wrap">
                        <div class="rok year_nav">
                            <a id="JScaldendarPrev">
                                ◄
                            </a>
                            <span id="JSyear">{{ calendar.year }}</span>
                            <a id="JScaldendarNext">
                                ►
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="months">
                            {% for monthName in calendar.monthNames %}
                                {% if calendar.monthName == monthName %}
                                    <div class="font-weight-bold">{{ monthName|trans }}</div>
                                {% else %}
                                    <div>{{ monthName|trans }}</div>
                                {% endif %}
                            {% endfor %}
                    </div>
                        <div class="weeks">
                            {% for weekName in calendar.weekNames %}
                                    <div>{{ weekName|trans }}</div>
                            {% endfor %}                        </div>
                        <div id="JScalendar" class="basic-calendar">
                            {% for dayNum in 1..calendar.daysWeekNum-1 %}
                                <div class="day_empty"></div>
                            {% endfor %}
                            {% for day in calendar.days %}
                                <div class="day_full" >
                                    {{ loop.index }}
                                    {% if day.events|length %}
                                        <ul class="event_marker">
                                                <li>
                                                    <ul class="event_title">
                                                        {% for event in day.events %}
                                                                <li>{{ event.data.title }}</li>
                                                                <ul class="event_details">
                                                                    <li>{{ 'calendar.event_start_time'|trans}} {{ event.startDate.format('G:i') }}</li>
                                                                    <li>{{ 'calendar.event_end_time'|trans}} {{ event.endDate.format('G:i') }}</li>
                                                                    <li>{{ 'calendar.event_cost'|trans}} {{ event.data.cost }}</li>
                                                                    <li>{{ 'calendar.seats_left'|trans}} {{ event.data.seats }}</li>
                                                                </ul>
                                                            {% if not loop.last %}
                                                                <hr>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}