{#TODO zmienić widok eventów dodać liste z boku z js czy iść w to rozwiązanie co jest?#}

{% extends 'layout.html.twig' %}
{% block title %}
    {{ 'title.calendarTitle'|trans }}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar/sidebar-calendar.html.twig' %}
{% endblock %}
{% block content %}
    <div id="calendar" class="calendar">
            <div class="col-md-8 col-xs-12">
                <div class="kalendarz-builder">
                    <div id="JSloading" class="loading-spinner" style="display: none;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="row year-wrap">
                        <div class="rok year_nav">
                            <a id="JScalendarPrev" href="{{ url('calendarShow', {'calendarId':calendarId, 'date':prevDate}) }}">
                                ◄
                            </a>
                            <span id="JSyear">{{ calendar.year }}</span>
                            <a id="JScalendarNext" href="{{ url('calendarShow', {'calendarId':calendarId, 'date':nextDate}) }}">
                                ►
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="months">
                            {% for monthName in calendar.monthNames %}
                                {% if calendar.monthName == monthName %}
                                    <div class="font-weight-bold">{{ monthName|trans }}</div>
                                {% else %}
                                    <div>{{ monthName|trans }}</div>
                                {% endif %}
                            {% endfor %}
                    </div>
                        <div class="weeks">
                            {% for weekName in calendar.weekNames %}
                                    <div>{{ weekName|trans }}</div>
                            {% endfor %}                        </div>
                        <div id="JScalendar" class="basic-calendar">
                            {% for dayNum in 1..calendar.daysWeekNum-1 %}
                                <div class="day-empty"></div>
                            {% endfor %}
                            {% for day in calendar.days %}
                                <div class="day-not_empty {% if day.holiday|length %}holiday {% elseif day.events|length %} event{% endif %}" >
                                    {{ loop.index }}
                                        <div class="day-holiday"></div>
                                    {% if day.events|length %}
                                        <ul class="day-events">
                                            {% for event in day.events %}
                                                    <li>
                                                        <a href="{{ url('eventShow', {calendarId:calendarId, eventId:event.id }) }}">
                                                            {{ event.data.title }}
                                                        </a>
                                                        <ul class="day-events_details">
                                                            <li>{{ 'calendar.event_start_time'|trans}} {{ event.startDate.format('G:i') }}</li>
                                                            <li>{{ 'calendar.event_end_time'|trans}} {{ event.endDate.format('G:i') }}</li>
                                                            <li>{{ 'calendar.event_cost'|trans}} {{ event.data.cost }}</li>
                                                            <li>{{ 'calendar.seats_left'|trans}} {{ event.data.seats }}</li>
                                                        </ul>
                                                    </li>
                                                {% if not loop.last %}
                                                    {#<hr>#}
                                                {% endif %}
                                            {% endfor %}
                                        </ul>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}