{% extends 'default/_baseIndex.html.twig' %}

{% block content %}

    {% block indexTitle %}
        {{ 'title.calendar_users_index'|trans }}
    {% endblock %}

    {% block navigation %}
                <div class="btn btn-light">
                    <a href="{{ url('userAdd', {'calendarId':calendarId} ) }}">{{ 'link.user_add'|trans }}</a>
                </div>
        {% include 'form/searchForm.html.twig' %}
    {% endblock %}

    {% block paginatorData %}
        {% for datum in pagerfanta.currentPageResults %}
        <div class="paginator-items">
            <div class="paginator-item email">{{ datum.email }}</div>
            <div class="paginator-item user_role">{{ datum.user_role }}</div>
            <div class="paginator-item first_name">{{ datum.first_name }}</div>
            <div class="paginator-item last_name">{{ datum.last_name }}</div>
            <div class="paginator-item edit"><a href="{{ url('userEdit', {'calendarId':calendarId, 'userCalendarId':datum.id}) }}">{{ 'link.edit'|trans }}</a></div>
            <div class="paginator-item delete"><a href="{{ url('userDelete', {'calendarId':calendarId, 'userCalendarId':datum.id}) }}">{{ 'link.delete'|trans }}</a></div>
        </div>
        {% endfor %}
    {% endblock %}

{% endblock %}