{% extends 'layout.html.twig' %}

{% block content %}
        <article class="content-wrapper">
            <header class="index-title">
                <h3>{{ 'title.user_login'|trans }}</h3>
            </header>
            <form action="">
            <nav class="row_menu">
                <div class="btn btn-light">
                    <a href="{{ url('userAdd', {'calendarId':calendarId} ) }}">{{ 'link.user_add'|trans }}</a>
                </div>
            </nav>
            <section class="paginator">
                    <h3 class="paginator-title">{{ 'title.user_index_paginator' }}</h3>
                {% if users is defined and users|length %}
                <div class="paginator-content">
                        {% for user in users %}
                            <div class="paginator-items">
                                <div class="paginator-item number">
                                    <input type="checkbox">
                                </div>
                                <div class="paginator-item username">
                                    {{ user.username }}
                                </div>
                                <div class="paginator-item email">{{ user.email }}</div>
                                <div class="paginator-item first_name">{{ user.first_name }}</div>
                                <div class="paginator-item last_name">{{ user.last_name }}</div>
                                <div class="paginator-item edit"><a href="">{{ 'link.edit'|trans }}</a></div>
                                <div class="paginator-item delete"><a href="">{{ 'link.delete'|trans }}</a></div>
                            </div>
                        {% endfor %}
                </div>
                {% if pagerfanta is defined %}
                    <div class="pagintor-footer">
                        {% include 'default/_paginator.html.twig' %}
                    </div>
                {% endif %}
            {% else %}
                    <div class="paginator-noSites">
                        <h2>{{ 'paginator.noSites_were_found'|trans }}</h2>
                    </div>
            {% endif %}
            </section>
            </form>
        </article>

{% endblock %}