{% extends 'layout.html.twig' %}

{% block content %}
    user index
        <article class="content-wrapper">
            <header class="index-title">
                <h3>{{ 'title.user_login'|trans }}</h3>
            </header>
            <form action="">
            <nav class="row_menu"></nav>
            <section class="paginator">
                    <h3 class="paginator-title">{{ 'title.user_index_paginator' }}</h3>
                <div class="paginator-content">
                    {% for user in users%}
                        <div class="paginator-items">
                            <div class="paginator-item number">
                                <input type="checkbox">
                                {{ loop.index }}
                            </div>
                            <div class="paginator-item username">
                                {{ user.username }}
                            </div>
                            <div class="paginator-item email">{{ user.email }}</div>
                            <div class="paginator-item first_name">{{ user.first_name }}</div>
                            <div class="paginator-item last_name">{{ user.last_name }}</div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagintor-footer">
                    {{ paginator|raw }}
                </div>
            </section>
            </form>
        </article>

{% endblock %}