{% extends 'layout.html.twig' %}
{% block title %}
    {{ event.title }}
{% endblock %}
{% block sidebar %}
    {% include 'sidebar/sidebar-calendar.html.twig' %}
{% endblock %}
{% block content %}
    <nav class="viewer-menu">
        <div class="btn btn-light">
            <a href="{{ url('eventIndex', {'calendarId':calendarId, 'page':1}) }}">{{ 'link.event_index'|trans }}</a>
        </div>
        <div class="btn btn-light">
            <a href="{{ url('calendarShow', {'calendarId':calendarId, 'date':'now'|date('Y-m')}) }}">{{ 'link.calendar_show'|trans }}</a>
        </div>
    </nav>
    <article class="container event-container">
        <h2 class="text-center">{{ event.title }}</h2>
        <section class="event-details">
            {% if event.start is defined %}
                <span>
                    {{ 'calendar.event_start_time'|trans }}{{ event.start.format('G:i') }}
                </span>
            {% endif %}
            {% if event.end is not null%}
                <span>
                        {{ 'calendar.event_end_time'|trans }}{{ event.end.format('G:i') }}
                </span>
            {% endif %}
            {% if event.cost is not null %}
                <span>
                    {{ 'calendar.event_cost'|trans }}:{{ event.cost }}
                </span>
            {% endif %}
            {% if event.seats is not null %}
                <span>
                    {{ 'calendar.seats_left'|trans }}:{{ event.seats }}
                </span>
            {% endif %}
        </section>
        <section class="event-content">
            {{ event.content }}
        </section>

        <section class="event-singUp">
            {% if form is not null and seatsRemains%}
                {% include 'form/form.html.twig' %}
            {% elseif signUp is not null and not seatsRemains %}
                {{ 'sign_up.no_seats_left'|trans }}
            {% endif %}
        </section>
    </article>
{% endblock %}