{% extends 'layout.html.twig' %}
{% block title %}
    {{ event.title }}
{% endblock %}
{% block sidebar %}
    {% if is_granted('calendar_any_user', calendarId) %}
        {% include 'sidebar/sidebar-calendar.html.twig' %}
    {% endif %}
{% endblock %}
{% block content %}
    <article class="container event-container">
        <h2 class="text-center">{{ event.title }}</h2>
        <section class="event-details">
            {% if event.start is defined %}
                <span>
                    {{ 'calendar.event_start_time'|trans }}{{ event.start.format('G:i') }}
                </span>
            {% endif %}
            {% if event.end is not null%}
                <span>
                        {{ 'calendar.event_end_time'|trans }}{{ event.end.format('G:i') }}
                </span>
            {% endif %}
            {% if event.cost is not null %}
                <span>
                    {{ 'calendar.event_cost'|trans }}:{{ event.cost }}
                </span>
            {% endif %}
            {% if event.seats is not null %}
                <span>
                    {{ 'calendar.seats_left'|trans }}:{{ event.seats }}
                </span>
            {% endif %}
        </section>
        <section class="event-content">
            {{ event.content }}
        </section>

        {% if signUp is not null %}
            {% set form = signUp %}
            <section class="event-singUp">
                {% include 'form/form.html.twig' %}
            </section>
        {% endif %}
    </article>
{% endblock %}