{% block mainImg_widget %}
    {% spaceless %}
            <div {{ block('widget_container_attributes') }} class="media_wrapper">
                {% for child in form %}
                    <div>
                        {{ form_widget(child) }}
                        <div class="img-wrapper">
                            <img src="/uploads/photos/{{ form.vars.media[loop.index-1].photo }}" alt="{{ form.vars.media[loop.index-1].title}}">
                        </div>
                        {{ form_label(child ) }}
                    </div>
                {% endfor %}
            </div>
    {% endspaceless %}
{% endblock %}