{#TODO get logged userId#}
<div class="admin-sidebar">
    <nav class="sidebar-menu">
        <div class="sidebar-menu-item_collection">
            <a class="collection" href="{{ url('userCalendarIndex',{'userId':userId, 'page':1}) }}">
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <i class="fa fa-calendar" aria-hidden="true"></i>
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sidebar-menu-item">
            <a href="{{ url('userIndex',{'calendarId':calendarId, 'page':1}) }}">
                <i class="fa fa-address-book" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sidebar-menu-item">
            <a href="{{ url('eventIndex', {'calendarId':calendarId, 'page':1} ) }}">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sidebar-menu-item">
            <a href="{{ url('calendarShow', { 'calendarId':calendarId, 'date':"now"|date('Y-m') }) }}">
                <i class="fa fa-calendar" aria-hidden="true"></i>
            </a>
        </div>
        <div class="sidebar-menu-item">
            <a href="{{ url('calendarMediaIndex', { 'calendarId':calendarId, 'page':1}) }}">
                <i class="fa fa-file-image-o" aria-hidden="true"></i>
            </a>
        </div>
        {#{% if is_granted('IS_AUTHENTICATED_FULLY') %}#}
        <div class="sidebar-menu-item mt-5">
            <a class="" href="{{ url('auth_logout') }}" title="{{ 'auth.logout.label'|trans }}">
                <i class="fa fa-power-off " aria-hidden="true"></i>
            </a>
        </div>
        {#{% endif %}#}
    </nav>
</div>