{% extends 'default/_baseIndex.html.twig' %}

{% block indexTitle %}
    {{ 'title.calendar_media_index'|trans }}
{% endblock %}

{% block sidebar %}
    {% include 'sidebar/sidebar-calendar.html.twig' %}
{% endblock %}

{% block navigation %}
    <div class="btn btn-light">
        <a href="{{ url('calendarAddMedia', { 'calendarId':calendarId } ) }}">{{ 'link.media_add_to_calendar'|trans }}</a>
    </div>
    {% include 'form/searchForm.html.twig' %}
{% endblock %}

{% block paginatorData %}
    {% for datum in pagerfanta.currentPageResults %}
    <div class="paginator-items media">
            <div class="paginator-item media_title">
                {{ datum.title }}
            </div>
            <div class="paginator-item media_photo">
                <img src="{{  asset(probablyBadPhotoFix ~ '/' ~ datum.photo) }}" alt="{{ datum.title }}">
            </div>
        <div class="paginator-item edit">
            <a href="{{ url('editCalendarMedia', {'mediaId':datum.id, 'calendarId':calendarId}) }}">
                {{ 'link.edit'|trans }}
            </a>
        </div>
        <div class="paginator-item delete">
            <a href="{{ url('deleteCalendarMedia', {'mediaId':datum.id, 'calendarId':calendarId}) }}">
                {{ 'link.delete'|trans }}
            </a>
        </div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}