{% extends 'default/_baseIndex.html.twig' %}

{% block indexTitle %}
    {{ 'title.user_media_index'|trans }}
{% endblock %}

{% block sidebar %}
    {% include 'sidebar/sidebar-user.html.twig' %}
{% endblock %}

{% block navigation %}
    <div class="btn btn-light">
        <a href="{{ url('userAddMedia', { } ) }}">{{ 'link.media_add_to_user'|trans }}</a>
    </div>
    {% include 'form/searchForm.html.twig' %}
{% endblock %}

{% block paginatorData %}
    {% for datum in pagerfanta.currentPageResults %}
    <div class="paginator-items media">
            <div class="paginator-item media_title">
                {{ datum.title }}
            </div>
            <div class="paginator-item media_photo">
                <img src="{{  asset(download_photos_directory ~ '/' ~ datum.photo) }}" alt="{{ datum.title }}">
            </div>
        <div class="paginator-item edit"><a href="{{ url('editMedia', {'mediaId':datum.id}) }}">{{ 'link.edit'|trans }}</a></div>
        <div class="paginator-item delete"><a href="{{ url('deleteMedia', {'mediaId':datum.id}) }}">{{ 'link.delete'|trans }}</a></div>
    </div>
    <hr>
    {% endfor %}
{% endblock %}